body {
    background-image: linear-gradient(to top, #022026, #043038, #07414a, #0a535d, #0f6671, #11818b, #148f97, #169b9f, #25b3ac, #30bfb1);
    color: white;
    height:600vh;
    background-repeat: no-repeat;
}
.main-header{
    text-align: center;
    padding: 20px 0;
}
.navdiv{
    background-color: #30BFB1;
}
.navbar {
    border: 2px solid #0A5159 ;
    border-radius: 1px;
    background-color: #0A5159;
    justify-content: flex-start;
}
.navbaritem {
    position: relative;
    display: inline-block;
    padding: 1px;

}
.navbarbutton {
    border-radius: 1px;
    border: 2px solid #0A5159;
    background-color: #16808C;
    padding: 5px 10px;
    margin-left:25px;
   
    color: white ;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #30BFB1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    border: 2px solid #21A6A6;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #21a6a6;
}

@keyframes fading-in-dropdown {
    from {display: none;}
    to {display: block;}
}

.navbaritem:hover .dropdown-content {
    animation-name: fading-in-dropdown;
    animation-duration: 2s;
    display: block;
} 

.navbaritem:hover .navbarbutton {
    background-color: #022026;
}

.q {
    font-weight: bold;
    
}

.a {    
    padding-left: 10px;
}

ol {
    list-style-type: decimal;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.team-containe {
    background-color: darkcyan;
    margin: 10px;
    padding: 10px;
    width: 400px;
}

p {
    padding-left: 10px;
    background-color:#FFB4A8 ;
}

h1 {
    padding-top: 30px;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

h5 {
    text-align: center;
}

h6 {
    text-align: center;
}

.btn-menu{
    background-color: #16808C;
    padding: 5px 10px;
    margin-left:25px;
    color: white;
}
.btn-menu:hover{
    color: #ccc;
}
.row{
    padding:50px 0;
}
.clickable{
    text-decoration: none;
    color: white;
}
.clickable:hover{
    text-decoration: none;
    color: white;
    background-color: rgba(0,0,0,0.1);
}