body
{
    background: rgb(2,32,38);
    background: linear-gradient(180deg, rgba(2,32,38,1) 0%,rgba(1,67,74,1) 19%,rgba(1,106,111,1) 39%,rgba(18,147,145,1) 68%, rgba(48,191,177,1) 100%)  ;
    color: white;
    height: 100vh;
    background-repeat: no-repeat;
}
.navdiv{
    background-color: #30BFB1;
}
.navbar
{
    border: 2px solid #0A5159 ;
    border-radius: 1px;
    background-color: #0A5159;
    justify-content: flex-start;
}
.navbaritem
{
    position: relative;
    display: inline-block;
    padding: 1px;

}
.navbarbutton
{
    border-radius: 1px;
    border: 2px solid #0A5159;
    background-color: #16808C;
    padding: 5px 10px;
    margin-left:25px;
   
    color: white ;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #30BFB1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    border: 2px solid #21A6A6;
}
.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover 
{
    background-color: #21a6a6;
}

@keyframes fading-in-dropdown
{
    from {display: none;}
    to {display: block;}
}

.navbaritem:hover .dropdown-content
{
    animation-name: fading-in-dropdown;
    animation-duration: 2s;
    display: block;
}
  
.navbaritem:hover .navbarbutton
{
    background-color: #022026;
}
.q
{
    font-weight: bold;
}
.a
{    
    padding-left: 10px;
}

ol 
{
    list-style-type: decimal;
}

.flex-container 
{
    display: flex;
    flex-wrap: wrap;
}

.team-container
{
    background-color: darkcyan;
    justify-content: center;
    width: 400px;
}