body
{
    background-color: #80D4FF;
}
.navdiv{
    background-color: #80D4FF;
}
.navbar
{
    border: 2px solid #0F6B99 ;
    border-radius: 1px;
    background-color: #0F6B99;
    justify-content: flex-start;
}
.navbaritem
{
    position: relative;
    display: inline-block;
    padding: 1px;
}
.navbarbutton
{
    border-radius: 1px;
    border: 2px solid #1e7b87;
    background-color: #FFC7BF;
    padding: 5px 10px 5px 10px;
    color:black ;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #80D4FF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    border: 2px solid #1e7b87;
}
.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover 
{
    background-color: #2bb0c2;
}

@keyframes fading-in-dropdown
{
    from {display: none;}
    to {display: block;}
}

.navbaritem:hover .dropdown-content
{
    animation-name: fading-in-dropdown;
    animation-duration: 2s;
    display: block;
}
  
.navbaritem:hover .navbarbutton
{
    background-color: #80D4FF;
}
.q
{

}
.a
{
    padding-left: 10px;
}